* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #f8f4ee;
}


/* =========================
   شاشة الظرف
========================= */

#envelope-screen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f8f4ee;

    z-index: 1000;

    transition: opacity 0.8s ease;
}

.envelope-container {
    position: relative;

    width: 90vw;
    max-width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* =========================
   الحروف
========================= */

.initials {
    position: absolute;

    top: 38%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-family: Georgia, serif;

    font-size: 15px;

    color: #b08b57;

    letter-spacing: 4px;

    pointer-events: none;

    animation: initialsPulse 1.8s ease-in-out infinite;
}

@keyframes initialsPulse {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }
}


/* =========================
   زر الختم
========================= */

.seal-button {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    border: none;
    background: transparent;

    cursor: pointer;

    z-index: 10;
}


/* =========================
   اختفاء الظرف
========================= */

#envelope-screen.hide {
    opacity: 0;
}


/* =========================
   الدعوة
========================= */

#invitation {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    display: none;

    background: #f8f4ee;
}


/* =========================
   الصفحات
========================= */

.page {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 1s ease,
        visibility 1s ease;
}

.page.active {
    opacity: 1;
    visibility: visible;
}


/* =========================
   صور الصفحات
========================= */

.page-image {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
}


/* =========================
   زر الصفحة التالية
========================= */

.next-button {
    position: absolute;

    bottom: 15px;
    left: 50%;

    transform: translateX(-50%);

    padding: 6px 13px;

    border: none;
    border-radius: 30px;

    background: rgba(231, 227, 227, 0.65);

    color: rgb(7, 2, 2);

    font-size: 16px;

    cursor: pointer;

    z-index: 20;

    animation: nextButtonPulse 2s ease-in-out infinite;
}

@keyframes nextButtonPulse {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.08);
    }
}


/* =========================
   معلومات الصفحة الثانية
========================= */

.event-info {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;


    z-index: 30;
}


/* =========================
   العد التنازلي
========================= */

.countdown {
    display: flex;

    gap: 5px;

    direction: ltr;

    transform: translateY(-90px);
}

.countdown div {
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: rgba(241, 239, 239, 0.9);

    border-radius: 8px;
}

.countdown span {
    font-size: 15px;

    font-weight: bold;

    color: #3d5153;
}

.countdown small {
    font-size: 8px;

    color: #233031;
}


/* =========================
   الموقع
========================= */

.location-button {
    position: absolute;

    top: 0px;
    left: 50%;

    transform: translateX(-50%);

    width: 120px;
    height: 80px;

    padding: 0;
    margin: 0;

    display: block;

    background: transparent;

    border-radius: 0;

    z-index: 40;

    text-decoration: none;
}

.location-button img {
    width: 97%;
    height: 97%;

    object-fit: cover;

    display: block;

    border: 1px solid #233031;

    border-radius: 10px;
}

.location-button span {
    margin-top: 5px;

    font-size: 11px;

    white-space: nowrap;

   text-align: center;

    color: #3d5153;

    text-decoration: none;

    animation: locationText 2s ease-in-out infinite;
}

@keyframes locationText {
    0%, 100% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateY(3px);
    }
}
